<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<!--&lt;!&ndash;    TODO: FIGURE OUT IF YOU CAN USE DIFFERENT BOOTSTRAP V&ndash;&gt;-->
<head th:replace="fragments :: head"></head>
<body>
<!--TODO: FIX NAVBAR-->
<!--<div th:replace="fragments :: page-header"></div>-->
<div th:fragment="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">BarApp</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/products/add}">Add Products</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">
    <div class="jumbotron">
        <h1>Products Home</h1>
        <p class="lead"> This is the home page for product listings. In the future, search and sorting functionality will be added to this page. Another possible feature to be implemented is sorting by category</p>
        <hr class="my-4">
        <p>The main content of this page will be featured items.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">View All</a>
    </div>
<!--TODO: WRITE FUNCTION TO DISPLAY RANDOM ITEMS-->
<!--TODO: INCLUDE IMAGES-->
    <h4>Featured Products</h4>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
        </tr>
    </table>
</div>
</body>