<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">

<nav th:replace="fragments :: page-header"></nav>
<div th:fragment="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">BarApp</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/products/add}">Add Products</a></li>
                <li><a th:href="@{/products/delete}">Delete Products</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>


<h1>All Products</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Add to Cart</th>
        </tr>
<!--TODO: MAKE PRODUCT NAME A LINK TO THE INDIVIDUAL PRODUCT-->
        <tr th:each="product : ${products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td><input type="number" min="0" max="10"></td>
            <td><button class="btn btn-success-sm" role="button">Add</button></td>
        </tr>
    </table>

</body>
</html>