<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'vendor: ' + vendor.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="job-listing">
<!--    <p th:text="${'ID: ' + product.id}"></p>-->
    <img th:src="${product.pictureURL}" />
    <p th:text="${'Name: ' + product.name}"></p>
    <p th:text="${'Description: ' + product.description}"></p>
    <p th:text="${'Price: ' + product.price}"></p>
</div>


</body>
</html>