<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: head"></head>-->

<!--<form method="post" style="max-width:600px;">-->
<!--    <div class="form-group">-->
<!--        <label th:for="name">Location </label>-->
<!--        <input class="form-control" th:field="${location.name}" />-->
<!--        <span th:errors="${location.name}" class="error"></span>-->
<!--    </div>-->

<!--&lt;!&ndash;    <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;        <label th:for="location">Employer Location</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input class="form-control" th:field="${employer.location}" />&ndash;&gt;-->
<!--&lt;!&ndash;        <span th:errors="${employer.location}" class="error"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--    <input type="submit" value="Add Location" />-->
<!--</form>-->


<!--<body>-->

<!--</body>-->
<!--</html>-->