<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: page-header"></div>
<p> Check and Test</p>

<p th:unless="${locations} and ${locations.size()}">no locations!</p>

<div class="container body-content">
    <h2> Locations</h2>
    <ul>
        <li th:each="location : ${locations}">
            <a th:href="@{'/locations/view/' + ${location.id}}" th:text="${location.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/locations/add'}">Add Locations</a>

</div>

</body>
</html>