<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <input type="hidden" th:field="${cartProduct.cart}">
        <select th:field="${cartProduct.product}">
            <option th:each="product : ${products}">
                    <th:value="${product.name}">
<!--                    th:text="${tag.name}"-->
            ></option>
        </select>
    </div>
    <input type="submit" class="btn btn-success" value="Add Product To Cart">
</form>

</body>
</html>