<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container body-content">

<div th:fragment="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">SnapSnap</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/products}">Products</a></li>
<!--                <li><a th:href="@{/products/add}">Add Products</a></li>-->
<!--                <li><a th:href="@{/products/delete}">Delete Products</a></li>-->
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<h1>Add Items To Cart</h1>

<form method="post">

    <th:block th:each="item : ${cart}">
        <div class="form-group">
            <label>
                <span th:text="${item.cartItem}"></span>
                <input type="checkbox" name="productsIds" th:value="${product.id}" class="form-control">
            </label>
        </div>
    </th:block>

    <input type="submit" value="Add" class="btn btn-primary">
</form>

<div class="container">
    <div class="row" >
        <div class="col-md-4" th:each="product : ${cart}">
            <div class="content" >
                <a href="@{'/products/view/' + ${product.id}}">
                    <div class="content-overlay"></div>
                    <img class="content-image" th:src="${product.pictureURL}" alt="placeholder">
                    <div class="content-details fadeIn-bottom">
                        <button class="btn btn-md btn-secondary m-4" th:href="@{'/products/view/' + ${productId}}">View</button><br>
                        <a href="@{/cart/add}"><i class="fas fa-heart"></i></a>
                        <a href="@{/cart/add}"><i class="fas fa-plus"></i></a>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>