
li {
display:flex;
justify-content:center;
align-items:center;
}

button {
display:flex;
justify-content:center;
align-items:center;
}

button:hover {
transition: all 0.3s ease;
}

i {
font-size:14px;
}