<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5:3.0.4.RELEASE">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Menu for: ' + menu.facility}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="menu-listing">
    <p sec:authorize="hasAnyAuthority('ADMIN', 'VENDOR')" th:text="${'ID: ' + menu.id}"></p>
    <p th:text="${'Name: ' + menu.facility}"></p>
    <p th:text="${'Address: ' + menu.city}"></p>
    <p th:text="${'Address: ' + menu.state}"></p>
    <p th:text="${'Address: ' + menu.address}"></p>
    <p th:text="${'Service: ' + menu.serviceDescription}"></p>
</div>

<div class ="container">
    <table>
        <tbody>
        <tr
        </tbody>
    </table>
</div>

</body>
</html>