<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5:3.0.4.RELEASE">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Menu for: ' + menu.facility}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="menu-listing">
<!--    <p sec:authorize="hasAnyAuthority('ADMIN', 'VENDOR')" th:text="${'ID: ' + menu.id}"></p>-->
    <p th:text="${'Name: ' + menu.facility}"></p>
    <p th:text="${'City: ' + menu.city}"></p>
    <p th:text="${'State: ' + menu.state}"></p>
    <p th:text="${'Address: ' + menu.address}"></p>
    <p th:text="${'Service: ' + menu.serviceDescription}"></p>
<!--    <p th:text="${menu.products}"></p>-->
</div>

<div class ="container body-content">
   <div class="job-listing">
    <table th:each="product : ${menu.products}">
        <tbody>
        <tr>
            <img th:src="${product.pictureURL}"></img>
            <p th:text="${product.name}"></p>
            <p th:text="${product.description}"></p>
            <p th:text="${product.price}"></p>
            <form method="post" th:action="@{/addToCart}" th:name="cart" th:object="${cart}">
                <input type="number" name="quantity" min="1" max="10" value="1"
                       class="form-control round-input form-control-sm"/>
                <input  type="hidden" name="id" th:value="${product.id}"/>
                <button id="product-btn" type="submit" class="btn btn-success">Add To Cart</button>
            </form>
        </tr>
        </tbody>
    </table>
   </div>
</div>

<!--<div class="container body-content">-->
<!--    <div class="job-listing" th:each="product:${menu.products}">-->
<!--        <img class="content-image" th:src="${product.pictureURL}" style="height:250px;width:200px;">-->
<!--        <p th:text="${'Name: ' + product.name}"></p>-->
<!--        <p th:text="${'Description: ' + product.description}"></p>-->
<!--        <p th:text="${'Price: ' + product.price}"></p>-->
<!--        <form method="post" th:action="@{/addToCart}" th:name="cart" th:object="${cart}">-->
<!--            <input type="number" name="quantity" min="1" max="10" value="1"-->
<!--                   class="form-control round-input form-control-sm"/>-->
<!--            <input type="hidden" name="id" th:value="${product.id}"/>-->
<!--            <button id="product-btn" type="submit" class="btn btn-success">Add To Cart</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<form th:action="@{'/products/add/' + ${menuId}}"  method="get" style="max-width:600px;"
      sec:authorize="hasAnyAuthority('ADMIN', 'VENDOR')">

    <input type="submit" value="Add Product" />
</form>


</body>
</html>