<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>

<h1>Add restaurant</h1>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="${restaurant.name}" />
        <span th:errors="${restaurant.name}" class="error"></span>
    </div>
<!--    <div class="form-group">-->
<!--        <label th:for="name">Location</label>-->
<!--        <input class="form-control" th:field="${restaurant.location}" />-->
<!--        <span th:errors="${restaurant.location}" class="error"></span>-->
<!--    </div>-->
    <div class="form-group">
        <label th:for="name">Rating</label>
        <input class="form-control" th:field="${restaurant.rating}" />
        <span th:errors="${restaurant.rating}" class="error"></span>
    </div>

    <input type="submit" value="Add restaurant" />
</form>

</body>
</html>