<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5:3.0.4.RELEASE">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>
<h1>Add Menu</h1>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:feild="${menu.name}" />
        <span th:errors="${menu.name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="name">Description</label>
        <input class="form-control" th:field="${menu.description}" />
        <span th:errors="${menu.description}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="name">Price</label>
        <input class="form-control"  th:field="${menu.price}" />
        <span th:errors="${menu.price}" class="error"></span>
    </div>

    <input type="submit" value="Add menu" />
</form>

</body>
</html>