<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="${menu.name}" />
        <span th:errors="${menu.name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="name">Description</label>
        <input class="form-control" th:field="${menu.description}" />
        <span th:errors="${menu.description}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="name">Price</label>
        <input class="form-control" th:field="${menu.price}" />
        <span th:errors="${menu.price}" class="error"></span>
    </div>

    <input type="submit" value="Add MenuItem" />

</form>
</body>
</html>