<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5:3.0.4.RELEASE">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: page-header"></div>

<th:block th:if="${cart==null || cart.cartItems == null}">
    <h2>Your cart is empty!</h2>
    <a th:href="@{'/products/index'}">View Products</a>
</th:block>

<!--<form method="post" th:object="${cart}" th:action="/cart">-->
    <div class="container" th:each="item : ${cart.cartItems}">
        <ul>
            <li><img th:src="${item.pictureURL}" /></li>
            <li th:text="${item.product.name}"></li>
            <li th:text="${item.product.description}"></li>
            <li th:text="${item.product.price}"></li>
            <li th:text="${item.quantity}"></li>
        </ul>
    </div>
<!--</form>-->

<div class="container">
    <h1 id="product-table">All Products</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cart.cartItem}">
            <td th:text="${item.product.name}"></td>
            <td th:text="${item.product.description}"></td>
            <td th:text="${item.product.price}"></td>
            <td th:text="${item.quantity}"></td>
<!--<td> <button class="btn btn-primary" role="button" th:href="@{'/cart/add'}">Add</button></td>-->
            <!--<td><button class="btn btn-primary" role="button" th:href="@{/cart/add/ + ${product.id}}">Add</button></td>-->
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>