<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5:3.0.4.RELEASE">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: page-header"></div>

<th:block th:if="${cart==null || cart.cartItems == null}">
    <h2>Your cart is empty!</h2>
    <a th:href="@{'/products'}">View Products</a>
</th:block>

<table class="table">
    <thead>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" cartItem : ${cart}">
        <td>
            <img th:src="${cartItem.product.pictureURL}"/>
            <h4 th:text="${cartItem.product.name}"></h4>
        </td>
        <td>
            <p th:text="${cartItem.product.quantity}"></p>
        </td>
        <td>
            <p th:text="${cartItem.product.price}"></p>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
