<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2>Restaurant List</h2>
    <ul>
        <li th:each="restaurant : ${restaurants}">
            <a th:href="@{'/view/' + ${restaurant.id}}" th:text="${restaurant.name}"></a>
        </li>

        <li th:each="location : ${locations}">
            <a th:href="@{'/view/' + ${location.id}}" th:text="${location.name}"></a>
        </li>
        <li th:each="rating : ${ratings}">
            <a th:href="@{'/view/' + ${rating.id}}" th:text="${rating.name}"></a>
        </li>
    </ul>

</div>

</body>
</html>