<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head>-->
<!--  <meta charset="utf-8" />-->
<!--  <title>Accept a card payment</title>-->
<!--  <link th:href="@{/css/global.css}" rel="stylesheet" />-->
<!--</head>-->

<!--<body>-->
<!--&lt;!&ndash; Display a payment form &ndash;&gt;-->
<!--<form id="payment-form" th:action="@{/orderForm}" th:object="${checkoutForm}" method="post">-->
<!--  <p>Proceed to the checkout form</p>-->
<!--  <p>Email:<input type="text" th:field="*{email}" placeholder="Email Address"/></p>-->
<!--  <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red;"></p>-->
<!--  <p>Amount:<input type="text" th:field="*{amount}"placeholder="Amount"/></p>-->
<!--  <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" style="color:red;"></p>-->
<!--  <p><input type="submit"></p>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
