<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<nav th:replace="fragments :: page-header"></nav>
<h1>Vendors</h1>



<th:block class="vendor-listing" th:text="${'vendor: ' + vendor.name}">
    <p th:text="${'ID: ' + vendor.id}"></p>
    <p th:text="${'Name: ' + vendor.name}"></p>
    <p th:text="${'Location: ' + vendor.location}"></p>
    <p th:text="${'Product Type: ' + vendor.productType}"></p>
</th:block>


</body>
</html>