<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Restaurant: ' + restaurant.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="restaurant-listing">
    <p th:text="${'ID: ' + restaurant.id}"></p>
    <p th:text="${'Name: ' + restaurant.name}"></p>
    <p th:text="${'Location: ' + restaurant.location}"></p>
    <p th:text="${'Rating: ' + restaurant.rating}"></p>
</div>


</body>
</html>