<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<!--<h1 th:text="${'Job: ' + job.name}">Default Title</h1>-->
<h1>Product Listing</h1>
<nav th:replace="fragments :: page-header"></nav>

<div class="job-listing">
    <p th:text="${'ID: ' + item.id}"></p>
    <p th:text="${'Name: ' + item.name}"></p>
    <p th:text="${'Description: ' + item.description}"></p>
    <p th:text="${'Price: ' + item.price}"></p>
</div>

</body>
</html>